@import url("https://fonts.google.com/share?selection.family=Dancing%20Script:wght@400;500;700");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Dancing Script", cursive;
  background: #262626;
}

main {
  margin-top: 160px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
